[Desktop Entry]
Encoding=UTF-8
Name=Link to RelativeLayout.LayoutParams  |  Android Developers
Type=Link
URL=https://developer.android.com/reference/android/widget/RelativeLayout.LayoutParams?utm_source=udacity&utm_medium=course&utm_campaign=android_basics
Icon=text-html
Name[en_IN]=Link to RelativeLayout parameters
